
/*  SECTIONS  */
#ad-grid-six {
    margin: 0px;
}

.section {
	clear: both;
	padding: 0;
	margin: 0;
}

/* COLOUR + FONT */
#table-1, #table-4{
    background-color: #0072b0;
}

#table-2, #table-5{
    background-color: #12bec0;
}

#table-3, #table-6{
    background-color: #8bcb2b;
}

.white-text {
    text-align: justify;
    padding: 0 1em;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    color: white;
}


/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0;
}
.col:first-child { margin-left: 0; }

.ad-image {
    display: block;
    width: 100%;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF SIX  */
.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.33%;
}

.span_4_of_6 {
  	width: 66.66%;
}

.span_3_of_6 {
  	width: 50%;
}

.span_2_of_6 {
  	width: 33.33%;
}

.span_1_of_6 {
  	width: 16.66%;
}

/*  MEDIA QUERIES */


@media only screen and (min-width: 310px) {
    .col {
        height: 440px;
    }
    .ad-image {
        height: 50%;
    }

    .white-text {
        font-size: small;
    }

    .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 50%; }
}

@media only screen and (min-width: 360px) {
    .col {
        height: 380px;
    }
    .ad-image {
        height: 50%;
    }

    .white-text {
        font-size: small;
    }

    .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 50%; }
}

@media only screen and (min-width: 500px) {
    .white-text {
        font-size: medium;
    }

@media only screen and (min-width: 768px) {
    .col {
        height: 450px;
    }

    .white-text {
        font-size: medium;
    }

    .ad-image {
        height: 50%;
    }

    .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 33.3%; }
}

@media only screen and (min-width: 1080px) {
    .col {
        height: 525px;
    }

    .white-text {
        font-size: medium;
    }

    .ad-image {
        height: 50%;
    }

    .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 16.66%; }
}
