.wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: -8px; /* deals with margin problem from body... needs to be adjusted to wordpress body and for different responsive views*/
}

.square {
    flex: 16.6%;
    color: white;
    font-family: 'raleway', helvetica, sans-serif;
}

.ad-image {
    width: 100%;
    height: 50%;
}

.white-text{
    padding-bottom: 0.75em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

#square-1, #square-4{
    background-color: #0072b0;
}

#square-2, #square-5{
    background-color: #12bec0;
}

#square-3, #square-6{
    background-color: #8bcb2b;
}

@media screen and (min-width: 310px){
    .wrapper {
        height: 1000px;  /* Height of entire grid (img + txt)... adjust accordingly*/
        /*margin: */ /* negative margin required to offset body margin*/
    }
    .square {
        flex: 50%;
        font-size: 12px;
    }
}

@media screen and (min-width: 360px){
    .wrapper {
        height: 875px;  /* Height of entire grid (img + txt)... adjust accordingly*/
        /*margin:*/ /* negative margin required to offset body margin*/
    }
    .square {
        flex: 50%;
        font-size: smaller;
    }
}

@media screen and (min-width: 768px){
    .wrapper {
        height: 700px;  /* Height of entire grid (img + txt)... adjust accordingly*/
        /*margin:*/ /* negative margin required to offset body margin*/
    }
    .square {
        flex: 33.33%;
        font-size: 15px;
    }

/* Reshuffles grid elements so that colour blocks differ */
    .square:nth-of-type(1) { order: 1; }
    .square:nth-of-type(2) { order: 2; }
    .square:nth-of-type(3) { order: 3; }
    .square:nth-of-type(4) { order: 5; }
    .square:nth-of-type(5) { order: 6; }
    .square:nth-of-type(6) { order: 4; }
}

@media screen and (min-width: 1080px){
    .wrapper {
        height: 550px; /* Height of entire grid (img + txt)... adjust accordingly*/
        /*margin:*/ /* negative margin required to offset body margin*/
    }

    .square {
        flex: 16.66%;
        font-size: medium;
    }
/* Reshuffles grid elements in proper order */
    .square:nth-of-type(1) { order: 1; }
    .square:nth-of-type(2) { order: 2; }
    .square:nth-of-type(3) { order: 3; }
    .square:nth-of-type(4) { order: 4; }
    .square:nth-of-type(5) { order: 5; }
    .square:nth-of-type(6) { order: 6; }
}
